modules = ["python-3.12", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "frontend/build"
run = ["sh", "-c", ""]
build = ["sh", "-c", "cd frontend && npm install && npm run build"]
